<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We can help you!</h2>
                <hr class="light">
                <p class="text-faded">With expertise in product design, development, and post-launch support, I guide clients from concept to implementation, including hardware specification and design for embedded systems.</p>
                <a href="#" class="btn btn-default btn-xl">Lets Chat!</a>
            </div>
        </div>
    </div>
</section>
