<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-regular fa-cloud wow bounceIn text-primary"></i>
                    <h3>Cloud Applications</h3>
                    <p class="text-muted">Developing high performance cloud applications can be challenging. Using the right technology with the right partner is a great start.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-network-wired wow bounceIn text-primary"></i>
                    <h3>Embeded Systems / IoT</h3>
                    <p class="text-muted">Embedded Systems (IoT Devices) are each unique. We bring together hardware, cloud services and user interfaces to meet your requirements.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-regular fa-microchip wow bounceIn text-primary"></i>
                    <h3>Hardware Development</h3>
                    <p class="text-muted">Creating custom hardware for embedded systems to suite your specific requirements.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
                    </svg>
                    <h3>Software Development</h3>
                    <p class="text-muted">Add extra members to your team. Need expertise your team is missing? Legacy software support?</p>
                </div>
            </div>
        </div>
    </div>
</section>
